<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0205</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AgUAAAAEAAAHAAAA</data>
				<key>Replace</key>
				<data>AgUAAAAIAAAHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0304</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AwQAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>AwQAAAAIAAAJAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0406</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>BAYAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>BAYAAAAIAAAJAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio/VGA(0602) HD3000, 0x00010000, port 0406</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AQIEABAHAAAQBwAABQMAAAIAAAAwAAAAAgUAAAAEAAAHAAAAAwQAAAAEAAAJAAAABAYAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>AQIDABAHAAAQBwAABgIAAAABAAAJAAAABQMAAAIAAAAwAAAABAYAAAAIAAAJAAAAAAAAAAAAAAAAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #1 of 2</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>BABmAQEDAQEAAAAC</data>
				<key>Replace</key>
				<data>BABmAQECBAIAAAAE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #2 of 2</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>MAIAAAAAAAABAAAAQAAAAAAAAAABAAAAQAAAAAAAAAABAAAAQAAAAAAAAAAAAAAA</data>
				<key>Replace</key>
				<data>MAIAAAIFAAAABAAABwQAAAMEAAAABAAAgQAAAAQGAAAABAAAgQAAAAAAAAAAAgAR</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0205</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>AgUAAAAEAAAHBAAA</data>
				<key>Replace</key>
				<data>AgUAAAAIAAAGAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0304</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>AwQAAAAEAACBAAAA</data>
				<key>Replace</key>
				<data>AwQAAAAIAAAGAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0406</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>BAYAAAAEAACBAAAA</data>
				<key>Replace</key>
				<data>BAYAAAAIAAAGAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 96MB DVMT-prealloc, 0x0a2e0008</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>CAAuCgEDAwMAAAAE</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>CAAuCgEDAwMAAAAG</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 128MB DVMT-prealloc, 0x0a2e0008</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>CAAuCgEDAwMAAAAE</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>CAAuCgEDAwMAAAAI</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 128MB DVMT-prealloc, 48MB framebuffer, 48MB cursor bytes, 0x0a260006</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAAIAAAAAwAAAAM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a260005 0x0a260006</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AgQJAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAAAHAQAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAAAHAQAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AgQJAAAEAAAHAQAA</data>
				<key>Replace</key>
				<data>AgQJAAAIAAAHAQAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable internal display after sleep for 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQAAAEAAAADWAAAABQUAAA==</data>
				<key>Replace</key>
				<data>AQAAAEAAAAAeAAAABQUAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AQUSAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a260005 0x0a260006</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AgQSAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAAAHAQAA</data>
				<key>Replace</key>
				<data>AQUSAAAIAAAHAQAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AgQJAAAEAAAHAQAA</data>
				<key>Replace</key>
				<data>AgQSAAAIAAAHAQAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x16060000 0x160e0000 0x16160000 0x161e0000 0x16260000 0x162b0000 0x16220000</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AQUJAAQAAAAEAAAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAACCAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16060000 0x160e0000 0x16160000 0x161e0000 0x16260000 0x162b0000 0x16220000</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AgQJAAAIAACCAAAA</data>
				<key>Replace</key>
				<data>AgQJAAAIAACCAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x160e0001 0x161e0001</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AQUJAAAEAAABEAAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAACCAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x16060002 0x16060002 0x16160002 0x16260002 0x16220002 0x162b0002 0x162b0004 0x16260004 0x16220007 0x162b0008 0x16260008</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AQUJAAAEAAAHBQAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAACCAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16060002 0x16060002 0x16160002 0x16260002 0x16220002 0x162b0002 0x162b0004 0x16260004 0x16220007 0x162b0008 0x16260008</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AgQJAAAEAAAHBQAA</data>
				<key>Replace</key>
				<data>AgQJAAAIAACCAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x16120003 0x16120005 0x16120006</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AQULAAAEAAAHBQAA</data>
				<key>Replace</key>
				<data>AQULAAAIAACCAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16120003 0x16120005 0x16120006</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AgQLAAAEAAAHBQAA</data>
				<key>Replace</key>
				<data>AgQLAAAIAACCAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0306, 0x16220007</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AwYIAAAEAAARAAAA</data>
				<key>Replace</key>
				<data>AwYIAAAIAACCAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
